<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>商品列表</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="/css/mescroll.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/moment.min.js"></script>

</head>
<body>
<header data-am-widget="header"
        class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
        <a href="/" class="">
            <i class="am-header-icon am-icon-home"></i>
        </a>
    </div>

    <h1 class="am-header-title">
        <a href="#title-link" class="">商品列表</a>
    </h1>
</header>


<div id="mescroll" class="mescroll">

    <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
        <ul class="am-slides">
            <li>
                <a href="##"><img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"></a>
            </li>
            <li>
                <a href="##"><img src="http://s.amazeui.org/media/i/demos/bing-2.jpg"></a>
            </li>
            <li>
                <a href="##"><img src="http://s.amazeui.org/media/i/demos/bing-3.jpg"></a>
            </li>
        </ul>
    </div>

    <div class="search-bar">
        <input type="search" name="keyword" placeholder="请输入关键字" id=""><a href="javascript:;">搜索</a>
    </div>

    <ul class="data-ul" id="view">
        <li>
            <ul data-am-widget="gallery" class="am-gallery am-avg-sm-3
  am-avg-md-3 am-avg-lg-4 am-gallery-default" data-am-gallery="{ pureview: true }">
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-2.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-3.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
            </ul>

            <div class="desc">
                <h4 class="title">Air Max 97</h4>
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad, assumenda, blanditiis consequuntur
                    cupiditate explicabo illum impedit ipsam libero odit quae quasi repudiandae sunt ullam vel! Iusto
                    odio quibusdam suscipit!
                </p>
                <p class="time">发表于 <span>2018-07-10 17:25</span></p>
            </div>

        </li>
        <li>
            <ul data-am-widget="gallery" class="am-gallery am-avg-sm-3
  am-avg-md-3 am-avg-lg-4 am-gallery-default" data-am-gallery="{ pureview: true }">
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-2.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-3.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        </a>
                    </div>
                </li>
            </ul>

            <div class="desc">
                <h4 class="title">Air Max 97</h4>
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad, assumenda, blanditiis consequuntur
                    cupiditate explicabo illum impedit ipsam libero odit quae quasi repudiandae sunt ullam vel! Iusto
                    odio quibusdam suscipit!
                </p>
                <p class="time">发表于 <span>2018-07-10 17:25</span></p>
            </div>

        </li>
    </ul>
</div>

<script id="demo" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <li>
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-3
  am-avg-md-3 am-avg-lg-4 am-gallery-default" data-am-gallery="{ pureview: true }">
            {{# for(var i = 0;i<9;i++){ }}
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                        <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt=""/>
                    </a>
                </div>
            </li>
            {{# } }}
        </ul>

        <div class="desc">
            <h4 class="title">{{ item.title }}</h4>
            <p class="content">{{ item.content }}</p>
            {{# var date = moment(item.creat_time).format('YYYY-MM-DD HH:mm:ss') }}
            <p class="time">发表于 <span>{{ date }}</span></p>
        </div>
    </li>
    {{#  }); }}
    {{#  if(d.length === 0){ }}
    无数据
    {{#  } }}
</script>


<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="/js/mescroll.min.js"></script>
<script src="/lib/layui/layui.js"></script>

<script>
  $(function () {


    var mescroll = new MeScroll("mescroll", { //第一个参数"mescroll"对应上面布局结构div的id
      //如果您的下拉刷新是重置列表数据,那么down完全可以不用配置,具体用法参考第一个基础案例
      //解析: down.callback默认调用mescroll.resetUpScroll(),而resetUpScroll会将page.num=1,再触发up.callback
      down: {
        callback: downCallback //下拉刷新的回调,别写成downCallback(),多了括号就自动执行方法了
      },
      up: {
        callback: upCallback, //上拉加载的回调
        isBounce: false //如果您的项目是在iOS的微信,QQ,Safari等浏览器访问的,建议配置此项.解析(必读)
      }
    });


    //下拉刷新的回调
    function downCallback() {
      $.ajax({
        url: '/admin/get?page=1',
        success: function (data) {
          // console.log(data);
          var rows = data.data;
          //联网成功的回调,隐藏下拉刷新的状态;
          mescroll.endSuccess(); //无参
          //设置数据
          layui.use('laytpl', function () {
            var laytpl = layui.laytpl;
            var getTpl = demo.innerHTML,
              view = document.getElementById('view');
            laytpl(getTpl).render(rows, function (html) {
              view.innerHTML = html;
            });

          });


        },
        error: function (data) {
          //联网失败的回调,隐藏下拉刷新的状态
          mescroll.endErr();
        }
      });
    }

    //上拉加载的回调 page = {num:1, size:10}; num:当前页 默认从1开始, size:每页数据条数,默认10
    function upCallback(page) {
      $.ajax({
        url: '/admin/get?page=' + page.num, //如何修改page.num从0开始 ?
        success: function (curPageData) {
          //设置列表数据
          layui.use('laytpl', function () {
            var laytpl = layui.laytpl;
            var getTpl = demo.innerHTML,
              view = document.getElementById('view');
            laytpl(getTpl).render(curPageData.data, function (html) {
              $(view).append(html);
            });

          });

          //方法四 (不推荐),会存在一个小问题:比如列表共有20条数据,每页加载10条,共2页.
          //如果只根据当前页的数据个数判断,则需翻到第三页才会知道无更多数据
          //如果传了hasNext,则翻到第二页即可显示无更多数据.
          // mescroll.endSuccess(curPageData.data.length);

        },
        error: function (e) {
          //联网失败的回调,隐藏下拉刷新和上拉加载的状态
          mescroll.endErr();
        }
      });
    }


  })
</script>
</body>
</html>