
@font-face {font-family: "iconfont";
  src: url('assets/font/iconfont.eot?t=1523517211304'); /* IE9*/
  src: url('assets/font/iconfont.eot?t=1523517211304#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/font/iconfont.woff?t=1523517211304') format('woff'),
  url('assets/font/iconfont.ttf?t=1523517211304') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('assets/font/iconfont.svg?t=1523517211304#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before { content: "\e670"; }

.icon-guanbi:before { content: "\e604"; }

.icon-close:before { content: "\e616"; }

.icon-sousuo:before { content: "\e653"; }

.icon-guanliyuan:before { content: "\e50f"; }

